
    :root{
        --orange:#ff7800;
        --black:#130f40;
        --light-color:#666;
        --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
        --border:.2rem solid rgba(0,0,0,.1);
        --outline:.1rem solid rgba(0,0,0,.1);
        --outline-hover:.2rem solid var(--black);
    }

*{
        margin:0;
        padding:0;
        font-family: 'poppins',sans-serif;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: all .2s linear;
    }

    html{
        font-size: 62.5%;
  
    scroll-behavior: smooth;
    scroll-padding-top: 7em;

   }
   .heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: var(--black);
   }
 
   .heading span{
    background: rgb(100, 8, 8);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path:polygon(100% 0,93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
   }

   body{
    background:rgb(236, 193, 129);
   }
   section{
    padding: 6rem 9%;
   }
   .button{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: .5rem;
    border: .2rem solid black;
    color: black;
    cursor: pointer;
    background: none;

   }
   .button:hover{
    background: #f44336;
    color: #fff;
   }

   .header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:lightgrey;
    box-shadow: var(--box-shadow);
  
      
   }
   .header .logo img{
    height: 53px;
    width: 54px;
    border-radius: 56px;
}
.nav-links{
        font-family: 'poppins',sans-serif;
        flex:1;
        text-align: center;
    }
    .nav-links ul li{
        list-style:none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color:black;
        text-decoration: none;
        font-size: 18px;
    }
    .nav-links ul li::after{
        content: '';
        width:0%;
        height: 2px;
        background: #f44336;
        display:block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-links ul li:hover::after{
        width:100%;
    }
    .header .icons img{
        

        height: 45px;
        width: 45px;
     display:inline-block;
     margin: 10px;
    
            line-height:4.5rem;
         
            background: #eee;
            color: var(--black);
            font-size:2rem;
            margin-right: .3rem;
            cursor: pointer;
            text-align: center;
    
        }
        .header .icons img:hover{
            background:#f44336;
            color:#fff;
        }
        #menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top: 110%; right:-110%;
    width:50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);

}
.header .search-form img{
    height: 30px;
    width: 30px;
}
.header .search-form.active{
right:2rem;
transition: .4s linear;
}
.header .search-form input{
height: 100%;
width: 100%;
background: none;
text-transform: none;
font-size: 1.6rem;
color: var(--black);
padding: 0 1.5rem;
}
.header .search-form label{
    font-size: 2.2rem;
    padding-right:1.5rem;
    color:var(--black);
    cursor: pointer;

}
.header .search-form img:hover{
    background-color:orangered;
}
.header .shopping-cart img{
    height: 10rem;
    width:  70px;
}






.header .login-form{
    position: absolute;
    top:110%; right:-110%;
    width:28rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: .5rem;
    background: #fff;
    text-align: center;
}
.header .login-form.active{
    right:2rem;
    transition: .4s linear;
}

.header .selecting{
   
    background-color: rgb(100, 8, 8) ;
    color: rgb(236, 193, 129);
    font-size: 25px;
    border-radius: 20px;
    margin: 10px 10px;
    padding: 5px 15px;

}
.header .selecting1{
    background-color: rgb(100, 8, 8) ;
    color: rgb(236, 193, 129);
    font-size: 25px;
    border-radius: 20px;
    margin: 10px 10px;
    padding: 5px 5px;

}
.header .selecting:hover{
   
    background-color:rgb(236, 193, 129) ;
    color:black;


}
.header .selecting1:hover{
   
    background-color:rgb(236, 193, 129) ;
    color:black;


}

@media(max-width:991px){
        html{
            font-size:55%;

        }
        .header{
            padding:2rem;
           
        }
        section{
    padding: 2rem 9%;

   }
   .home{
    margin-top: 25px;
   }
    }
      @media(max-width:768px){

        #menu-btn{
            display: inline-block;
        }
        .header .search-form{
            width:90%;
        }
        .header .nav-links{
        position:absolute;
         top:110%; right: -110%;  
         width: 30rem;
         box-shadow: var(--box-shadow);
         border-radius: .5rem;
         background: #fff;
        }
        .header .nav-links.active{
            right: 2rem;
            transition: .4s linear;
            font-size: 40px;
        }
        .header .nav-links a{
            font-size: 2rem;
            margin: 3rem;
            display: block;

        }
    }
      @media(max-width:450px){
        html{
            font-size:50%;
            
        }
    }

    .home{
  
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(image/front.jpg);
   background-position: center;
   background-size: cover; 

    width: 100%;
}

.home h3{
    padding-top: 3rem;
   padding-bottom: 0rem;
   font-size: 25px;
        color: #eee;
    }
    .home h1{
        padding-top: 1rem;
   padding-bottom:0rem;
        font-size: 60px;
        color: #eee;
    }
    

    
    .home h4{
        padding-top: 1rem;
   padding-bottom: 8rem;
      padding-left: 73%;
        font-size: 25px;
        color: #eee;
    }
    
   
    
    .btn{
        
        display: inline-block;
        text-decoration: none;
        color: #fff;
        border: 1px solid #fff;
        padding: 12px 34px;
        font-size: 13px;
        background: transparent;
        position: relative;
        cursor: pointer;
        

    }
    .btn:hover{
        border: 1px solid #f44336;
        background: #f44336;
        transition: 1s;
    }






    .feature .box-container{
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
        gap:1.5rem;


    }
    .feature .box-container .box{
        padding: 3rem 2rem;
        background: #fff;
        outline: var(--outline);
        outline-offset: -1rem;
        text-align: center;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;

    }

    .feature .box-container .box:hover{
        outline: var(--outline-hover);
        outline-offset: 0rem;
    }
    .feature .box-container .box img{
        margin: 1rem 0;
        height: 15rem;

    }
    .feature .box-container .box h3{
font-size: 2.5rem;
line-height: 1.8;
color: var(--black);

    }

    .feature .box-container .box p{
        font-size: 1.5rem;
        line-height: 1.8;
        color: var(--light-color);
        padding: 1rem 0;
            }
            .batn{
        
                display: inline-block;
                text-decoration: none;
                color: black;
                border: 1px solid black;
                padding: 12px 34px;
                font-size: 13px;
                background: transparent;
                position: relative;
                cursor: pointer;
                margin-top: 10px;
        
            }
            .batn:hover{
                border: 1px solid #f44336;
                background: #f44336;
                transition: 1s;
            }

            .swiper-wrapper{
                display: flex;
               
                gap:1.5rem;
              overflow-x: auto;
               
            }
            .swiper-wrapper::-webkit-scrollbar{
                width:0;
            }
         

            .products .swiper-wrapper .box{
            background: #fff;
            border-radius: .5rem;
            text-align: center;
            padding: 3rem 2rem;
            outline-offset: -1rem;
            outline:var(--outline);
            box-shadow: var(--box-shadow);
            margin-right: 2px;

            }

            .products .swiper-wrapper .box:hover{
                outline: var(--outline-hover);
                outline-offset: -.5rem; 
            }
            .products .swiper-wrapper .box img{
                margin: 1rem 0;
                height: 15rem;
                
            }
            .products .swiper-wrapper .box h3{
                font-size: 2.5rem;
            
                color: var(--black);
            }
            .products .swiper-wrapper .box .price{
                font-size: 2rem;
            
                color: var(--light-color);
                padding: .5rem 0;
            }





            .categories .box-container{
                display: grid;
                grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
                gap:1.5rem;
        
        
            }
            .categories .box-container .box{
                padding:3rem 2rem;
                border-radius: 1.5rem;
                background: #fff;
                box-shadow: var(--box-shadow);
                outline: var(--outline);
                outline-offset: -1rem;
                text-align: center;
            }
            .categories .box-container .box:hover{
                outline: var(--outline-hover);
                outline-offset:-0.5rem
                
            }
            .categories .box-container .box img{
                margin: 1rem 0;
                height: 15rem;
        
            }



            .feature .box-container .batn{
        
                display: inline-block;
                text-decoration: none;
                color: black;
                border: 1px solid black;
                padding: 12px 34px;
                font-size: 13px;
                background: transparent;
                position: relative;
                cursor: pointer;
                
        
            }
            .feature .box-container .batn:hover{
                border: 1px solid #f44336;
                background: #f44336;
                transition: 1s;
            }


.footer{
    background: #fff;

}
.footer .box-container1{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(24rem, 1fr));
gap: 1.5rem;
}


.footer .box-container1 .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding: 1rem 0;
} 
.footer .box-container1 .box h3 img{
    height: 22px;
    width: 39px;
    border-radius: 10px;
}

.footer .box-container1 .box p{
    font-size:1.5rem ;
    line-height: 1.8;
    padding: 1rem 0;
}

.footer .box-container1 .box .share img{
height: 45px;
width: 45px;
display:inline-block;

}
.footer .box-container1 .box img{
height: 20px;
width: 20px;
}
.footer .box-container1 .box a{
    display: block;
    font-size:1.5rem;
    color: var(--light-color);
    padding: 1rem 0;

}
.footer .box-container1 .box a{
    padding-left: .5rem;
}

.footer .box-container1 .box a:hover{
padding-left: 2rem;
}

.footer .box-container1 .box .paid img{
    height: 45px;
    width: 45px;
    display: inline-block;
    margin-top: 10px;
    }


.footer .credit{
    text-align: center;
    margin-top:2rem;
    padding:1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: var(--border);
}
.footer .credit span{
    color:var(--orange);

}




