
body{
  background-color:rgb(236, 193, 129);
  margin: 0;
  padding: 0;
}
section{
    padding: 2rem 9%;
   }

   .header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    height: 0;
    align-items: center;
    justify-content: space-between;
    padding:1.8rem 2%;
    background:lightgrey;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  
      
   }
   .header .logo img{
    height: 53px;
    width: 54px;
    border-radius: 56px;
}
.nav-links{
        font-family: 'poppins',sans-serif;
        flex:1;
        text-align: center;
    }
    .nav-links ul li{
        list-style:none;
        display: inline-block;
        padding: 8px 12px;
        position: relative;
    }
    .nav-links ul li a{
        color:black;
        text-decoration: none;
        font-size: 18px;
    }
    .nav-links ul li::after{
        content: '';
        width:0%;
        height: 2px;
        background: #f44336;
        display:block;
        margin: auto;
        transition: 0.5s;
    }
    .nav-links ul li:hover::after{
        width:100%;
    }
    .header .icons img{
        

        height: 45px;
        width: 45px;
     display:inline-block;
     margin: 10px;
    
            line-height:4.5rem;
         
            background: #eee;
            color: var(--black);
            font-size:2rem;
            margin-right: .3rem;
            cursor: pointer;
            text-align: center;
    
        }
        .header .icons img:hover{
            background:#f44336;
            color:#fff;
        }

@media only screen and (max-width: 600px){
    .cart-info p{
        display: none;

    }
}

.selective{
    padding: 6rem 9%;
}
.selective table{
   background-color:rgb(100, 8, 8); 
   color: #eee;
   border: 3px solid red;


}

.selective th{
    padding-left: 25px;
    padding-right: 25px; 
    border: 3px solid red;

   font-size: 18px;
   padding-bottom: 5px;
   padding-top: 5px; 
  }

.selective th:hover {
    background-color:rgb(225, 151, 117);
    color: black;
}
.selective a{
color:#eee;
text-decoration: none;
   font-size: 18px;
}
.selective a:hover{
    background-color:rgb(225, 151, 117);
    color: black; 
}
.heading span{
    background: rgb(100, 8, 8);
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path:polygon(100% 0,93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
  
}

.swap{
    display: flex;
    gap:1.5rem;
  overflow-x: auto;
   
}
.swap::-webkit-scrollbar{
    width:0;
}


 .swap .design{
background: #fff;
border-radius: .5rem;
text-align: center;
padding: 3rem 2rem;
outline-offset: -1rem;
outline:.1rem solid rgba(0,0,0,.1);
box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
margin-right: 2px;

}
.swap a{
    text-decoration: none;
}

.swap .design:hover{
    outline:.1rem solid black;
    outline-offset: -.5rem; 
}
 .swap .design img{
    margin: 0rem -11px -1px -11px;
    height: 7rem;
 
    
}
 .swap .design h3{
    font-size: 2rem;
 line-height: 0;
    color:#130f40;

}
.swap .design .price{
    font-size: 1.5rem;
    line-height: 0.8;
    color:#666;
    padding: 0rem 0;
 
}
@media(max-width: 600px){
    table{
        width: 100%;
     
    }
tr{
    float: left;
    width: 50%;
    
}
    th{
        display: block;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .selective a{
        font-size: 15px;
    }
}
@media(max-width: 420px){

    table{
        width: 100%;
     
    }
tr{
    float: left;
    width: 50%;
    
}
    th{
        display: block;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .selective a{
        font-size: 8px;
    }
}




